div.Flex {
    display: flex;
}
div.SearchMovie{
    margin: 15px 15px 15px 15px;
}
div.SearchMovie > form{
    border: 2px solid red;
    margin: 0;
    width: 100%;
    flex-direction: row;
}

input {
    height: 25px;
}